.Main {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputControls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.flexRight {
    display: flex;
    justify-content: flex-end
}

/*.flexRight1 {*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*}*/
/*.flexbox-1 {*/
/*    align-self: flex-start;*/
/*}*/

/*.flexLeft {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*}*/

.xyCell {
    width: 30px;
}

.controls {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.controlCell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.score {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.scoreCellHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.scoreCell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.board {
    display: grid;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.boardCell {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.bottomControls1 {
    margin-top: 1vh;
    /*display:grid;*/
    /*grid-template-columns: repeat(2, 1fr);*/
}

.bottomControls2 {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.moves
{
    grid-column: span 2;
    text-align: center;
}